body {
  background-color: #282a36;
  color: white;
  font-family: poppinsregular;
  max-width: 100%; /* Alterado para porcentagem */
  margin: 0;
  padding: 0;
}

header {
  background-color: #282a36;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 1.2%; /* Alterado para porcentagem */
  height: 4rem;
}

#title {
  height: 6rem; /* Alterado para uma unidade relativa */
  width: 100%;
  background-color: #282a3600;
  display: flex;
  flex-direction: column;
  line-height: 1.25rem; /* Alterado para uma unidade relativa */
  font-size: 1.5rem;
}

#topics {
  background-color: #282a3600;
  position: fixed;
  right: 2.5%; /* Alterado para uma unidade relativa */
  top: 0;
}

.project-title {
  margin-left: 0.25rem; /* Alterado para uma unidade relativa */
  margin-top: 0.625rem; /* Alterado para uma unidade relativa */
}

.project {
  background-color: #343745;
  padding: 0.625rem; /* Alterado para uma unidade relativa */
  border-radius: 5px;
  box-shadow: 0 0.25rem 0.625rem #0000001a;
  margin: 0 auto;
  width: 80%;
  max-width: 37.5rem; /* Alterado para uma unidade relativa */
  transition: transform 0.3s ease;
}

.project img {
  width: 70rem; /* Alterado para uma unidade relativa */
  height: 20rem; /* Alterado para uma unidade relativa */
  margin-top: 0.625rem; /* Alterado para uma unidade relativa */
  margin-left: 0.625rem; /* Alterado para uma unidade relativa */
  margin-bottom: 0.625rem; /* Alterado para uma unidade relativa */
  border-radius: 5px;
  object-fit: cover;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr)); /* Alterado para uma unidade relativa */
  grid-gap: 1.25rem; /* Alterado para uma unidade relativa */
  margin-top: 6.125rem; /* Alterado para uma unidade relativa */
  width: 37.5rem; /* Alterado para uma unidade relativa */
  height: 34.25rem; /* Alterado para uma unidade relativa */
}

.projects-container {
  text-align: center;
  margin-top: 9.375rem; /* Alterado para uma unidade relativa */
  position: relative;
  text-align: center;
  margin-top: 9.375rem; /* Ajuste para criar espaço para o cabeçalho fixo */
}

.project-slideshow {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Media queries para ajustar os estilos em diferentes tamanhos de tela */
@media screen and (max-width: 768px) {
  #title {
    height: 4rem;
    line-height: 1rem;
  }

  .project {
    padding: 0.3125rem;
  }

  .project img {
    width: 18.75rem;
    height: 16.25rem;
    margin-top: 0.3125rem;
    margin-left: 0.3125rem;
    margin-bottom: 0.3125rem;
  }

  .projects {
    grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
    grid-gap: 0.625rem;
    margin-top: 4.875rem;
    width: 25rem;
    height: 24.0625rem;
  }

  .projects-container {
    margin-top: 7.5rem;
  }
}

@media screen and (max-width: 480px) {
  #title {
    height: 3.125rem;
    line-height: 0.875rem;
  }

  .project {
    padding: 0.3125rem;
    width: 90%;
  }

  .project img {
    width: 18.75rem;
    height: 16.25rem;
    margin-top: 0.3125rem;
    margin-left: 0.3125rem;
    margin-bottom: 0.3125rem;
  }

  .projects {
    grid-template-columns: repeat(auto-fit, minmax(15.625rem, 1fr));
    grid-gap: 0.625rem;
    margin-top: 4.875rem;
    width: 25rem;
    height: 24.0625rem;
  }

  .projects-container {
    margin-top: 6.25rem;
  }
}

html {
  scroll-behavior: smooth;
}

li {
  display: inline-block;
  margin: 1.25rem; /* Alterado para uma unidade relativa */
  text-decoration: none;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #00ff78;
  transition: 0.3s all;
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: row;
  margin-top: 3.125rem; /* Alterado para uma unidade relativa */
}

h1 {
  margin-top: 6.25rem; /* Alterado para uma unidade relativa */
  font-size: 3.5rem; /* Alterado para uma unidade relativa */
  line-height: 3.125rem; /* Alterado para uma unidade relativa */
  font-family: poppinsmedium;
}

h2 {
  font-size: 1rem; /* Alterado para uma unidade relativa */
  line-height: 3.125rem; /* Alterado para uma unidade relativa */
  font-family: poppinsmedium;
  margin-left: 9.375rem; /* Alterado para uma unidade relativa */
  margin-right: 2rem;
}

h3 {
  margin-left: 9.375rem; /* Alterado para uma unidade relativa */
  margin-top: 1.40625rem; /* Alterado para uma unidade relativa */
  font-size: 3.2rem; /* Alterado para uma unidade relativa */
  line-height: 0.625rem; /* Alterado para uma unidade relativa */
  font-family: poppinsmedium;
}

/* Media queries para ajustar os estilos em diferentes tamanhos de tela */
@media screen and (max-width: 768px) {
  h1 {
    margin-top: 4rem;
    font-size: 2.5rem;
    line-height: 2.5rem;
  }

  h2 {
    font-size: 1.2rem;
    line-height: 2.5rem;
    margin-left: 6.25rem;
    margin-top: 4rem;
  }

  h3 {
    margin-left: 6.25rem;
    margin-top: 1rem;
    font-size: 2.5rem;
    line-height: 0.625rem;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    margin-top: 3.125rem;
    font-size: 2.25rem;
    line-height: 2.25rem;
  }

  h2 {
    font-size: 1.2rem;
    line-height: 2.25rem;
    margin-left: 3.75rem;
    margin-top: 3.125rem;
  }

  h3 {
    margin-left: 3.75rem;
    margin-top: 0.703125rem;
    font-size: 2.25rem;
    line-height: 0.625rem;
  }
}

span0 {
  color: #590091;
}

span {
  font-size: 2.2rem; /* Alterado para uma unidade relativa */
  color: #6e00b4;
}

span2 {
  margin-top: 31.25rem; /* Alterado para uma unidade relativa */
  font-size: 2.2rem; /* Alterado para uma unidade relativa */
  color: #6e00b4;
  margin-left: 9.375rem; /* Alterado para uma unidade relativa */
}

span3 {
  font-size: 2.2rem; /* Alterado para uma unidade relativa */
  color: #6e00b4;
  margin-left: 0;
}

/* Media queries para ajustar os estilos em diferentes tamanhos de tela */
@media screen and (max-width: 768px) {
  span {
    font-size: 1.5rem;
  }

  span2 {
    margin-top: 25rem;
    font-size: 1.5rem;
    margin-left: 6.25rem;
  }

  span3 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 480px) {
  span {
    font-size: 1.25rem;
  }

  span2 {
    margin-top: 20rem;
    font-size: 1.25rem;
    margin-left: 3.75rem;
  }

  span3 {
    font-size: 1.25rem;
  }
}

p {
  margin-left: 18%; /* Alterado para uma unidade relativa */
  max-width: 500px;
  font-size: 1.5rem;
  font-family: poppinslight;
  text-align: left;
  line-height: 1.8rem;
}

p1 {
  color: #00ff78;
  max-width: 400px;
  font-size: 1.2rem;
  font-family: poppinslight;
  text-align: center;
  line-height: 1.8rem;
}

article {
  margin-right: 8%; /* Alterado para uma unidade relativa */
  margin-left: 4%; /* Alterado para uma unidade relativa */
}

#article {
  margin-left: 4%; /* Alterado para uma unidade relativa */
  margin-right: 4%; /* Alterado para uma unidade relativa */
}

img {
  display: flex;
  align-items: flex-end; /* Alterado para alinhar na parte inferior */
  margin-left: 5%; /* Alterado para uma unidade relativa */
  max-width: 300px; /* Alterado para uma unidade relativa */
  border-radius: 50%; /* Alterado para um círculo */
}

/* Media queries para ajustar os estilos em diferentes tamanhos de tela */
@media screen and (max-width: 768px) {
  p,
  p1 {
    margin-left: 2.5%; /* Alterado para uma unidade relativa */
  }

  article {
    margin-right: 2.5%; /* Alterado para uma unidade relativa */
  }

  #article {
    margin-left: 2.5%; /* Alterado para uma unidade relativa */
    margin-right: 5%; /* Alterado para uma unidade relativa */
  }

  img {
    margin-left: 2.5%; /* Alterado para uma unidade relativa */
    max-width: 200px; /* Alterado para uma unidade relativa */
  }
}

@media screen and (max-width: 480px) {
  p,
  p1 {
    margin-left: 2%; /* Alterado para uma unidade relativa */
  }

  article {
    margin-right: 2%; /* Alterado para uma unidade relativa */
  }

  #article {
    margin-left: 2%; /* Alterado para uma unidade relativa */
    margin-right: 5%; /* Alterado para uma unidade relativa */
  }

  img {
    margin-left: 2%; /* Alterado para uma unidade relativa */
    max-width: 150px; /* Alterado para uma unidade relativa */
  }
}

section {
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  height: 4.5rem; /* Alterado para uma unidade relativa */
  width: 15rem; /* Alterado para uma unidade relativa */
  background-color: #6e00b4;
  color: white;
  font-weight: bold;
  border-radius: 1.5rem; /* Alterado para uma unidade relativa */
}

.prev-button,
.next-button {
  height: 3rem; /* Alterado para uma unidade relativa */
  width: 3rem; /* Alterado para uma unidade relativa */
  font-size: 1.5rem; /* Alterado para uma unidade relativa */
  cursor: pointer;
  border: none;
  border-radius: 50%; /* Alterado para um círculo */
  margin-top: 2.5rem; /* Alterado para uma unidade relativa */
}

.prev-button {
  order: -1;
}

.next-button {
  right: 2.5rem; /* Alterado para uma unidade relativa */
}

.prev-button:hover,
.next-button:hover {
  background-color: #8b1ed2;
}

footer {
  right: 0;
  width: 100%;
  background-color: #590091;
  display: flex;
  justify-content: center;
}

/* Media queries para ajustar os estilos em diferentes tamanhos de tela */
@media screen and (max-width: 768px) {
  button {
    height: 3.5rem; /* Alterado para uma unidade relativa */
    width: 12rem; /* Alterado para uma unidade relativa */
    border-radius: 1.25rem; /* Alterado para uma unidade relativa */
  }

  .prev-button,
  .next-button {
    height: 2.5rem; /* Alterado para uma unidade relativa */
    width: 2.5rem; /* Alterado para uma unidade relativa */
    font-size: 1.25rem; /* Alterado para uma unidade relativa */
    margin-top: 2rem; /* Alterado para uma unidade relativa */
  }

  .next-button {
    right: 1.5rem; /* Alterado para uma unidade relativa */
  }
}

@media screen and (max-width: 480px) {
  button {
    height: 3rem; /* Alterado para uma unidade relativa */
    width: 10rem; /* Alterado para uma unidade relativa */
    border-radius: 1rem; /* Alterado para uma unidade relativa */
  }

  .prev-button,
  .next-button {
    height: 2rem; /* Alterado para uma unidade relativa */
    width: 2rem; /* Alterado para uma unidade relativa */
    font-size: 1rem; /* Alterado para uma unidade relativa */
    margin-top: 1.5rem; /* Alterado para uma unidade relativa */
  }

  .next-button {
    right: 1rem; /* Alterado para uma unidade relativa */
  }
}